.game-page {
    width: 100%;
    max-width: 500px;
}

.game-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 10px;
    font-size: 18px;
    color: #2d3748;
}

.game-controls {
    margin-top: 30px;
}

