.letter-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;

    border: 2px solid #e2e8f0;
    font-size: 24px;

    border-radius: 8px;
    font-weight: bold;
    color: #2d3748;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
    user-select: none;
}

.letter-tile:hover {
    background-color: #edf2f7;
}

.letter-tile.selected {
    background-color: #68d391; /* Зелений */
    color: white;
    transform: scale(1.05);
    border-color: #38a169;
}

@media (max-width: 600px) {
    .letter-tile {
        font-size: 18px;
    }
}

