.word-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-size, 5), 1fr);
    grid-template-rows: repeat(var(--grid-size, 5), 1fr);
    gap: 8px;
    width: 100%;

    max-width: 600px;

    margin: 20px auto;
    padding: 10px;
    background-color: #cbd5e0;
    border-radius: 12px;
}

@media (max-width: 600px) {
    .word-grid {
        max-width: 100%;
        gap: 6px;
        padding: 10px;
    }
}

